.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	font-family: monospace;
	height: 80vh;
	min-height: 500px;
}

.pomodoro-timer-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80%;
}

.session-length-label-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 10%;
}

.session-length-label{
	line-height: 1;
	font-size: 1.2em;
	letter-spacing: 0.029em;
	font-weight: 300;
}

.session-length-label b{
	font-weight: 900;
}

.pomodoro-button-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10%;
}

.pomodoro-timer{
	font-size: 10em;
}

.pomodoro-label{
	font-size: 1.3em;
	font-family: sans-serif;
	padding-top: 1em;
}

.pomodoro-button{
	border-radius: 5px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	background: #ffffff;
	font-size: 1.8em;
	padding: 10px;
	margin: 4px 10px;
	min-width: 150px;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
