<div class="container">

	<section class="settings-container">

		<div class="individual-settings-container">
			<div class="setting-value"> 25 </div>
			<div class="settings-button-container"> 
				<button class="settings-button">-</button>
				<button class="settings-button">+</button>
			</div>
			<div class="setting-label"> Pomodoro duration </div>
		</div>

		<div class="individual-settings-container">
			<div class="setting-value"> 5 </div>
			<div class="settings-button-container"> 
				<button class="settings-button">-</button>
				<button class="settings-button">+</button>
			</div>
			<div class="setting-label"> Short Break duration </div>
		</div>

		<div class="individual-settings-container">
			<div class="setting-value"> 15 </div>
			<div class="settings-button-container"> 
				<button class="settings-button">-</button>
				<button class="settings-button">+</button>
			</div>
			<div class="setting-label"> Long Break duration </div>
		</div>
		
	</section>



	<section class="pomodoro-button-container">
		<button class="pomodoro-button">Start</button>
		<button class="pomodoro-button">Reset</button>
	</section>



</div>